body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page-body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sweet-sweet-header {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  
  
  
}
.footer-header-dig {
  display: flex;
  justify-content: space-between;
  width: 80%;
  
  
}
.ingredient-list{
  display: block;
  border: 1px dashed black;
  background-color: black;
}
.ingredient-page-list{
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
}
.ingredient{
  height: 40%;
  color: chartreuse;
  background-color: red;
}
.ingredient-amount{
  color: chartreuse;
}
.recipe-style {
  width: 80%
}
.cake-photo {
  width: 80%;
}